#loading-mask {
	background: #fff;
	height: 100%;
	left: 0;
	opacity: 1;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 999999999;
}
.loading-img {
	height: 100%;
	left: 0;
	position: fixed;
	top: 50%;
	width: 100%;
}